#round-name-space {
    min-height: 40px;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
}

#btn-reset {
    max-height: 40px;
}

#toggles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

span.center {
    display: block;
    text-align: center;
}

.separator {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    line-height: 0.1em;
    margin: 10px 0 10px;
}

.separator span {
    background: #262f40;
    padding: 0 10px;
}

.win-button-container > button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 3px;
    margin: 0;
    transition-duration: 100ms;
}

.win-button-container > button > svg {
    /* A very minor alignment tweak. Pay no attention to me... */
    margin-bottom: -1px;
}

.win-button-container > button.team-a-win-toggle,
.win-button-container > button.team-b-win-toggle {
    filter: saturate(0.8) grayscale(5%);
    color: white;
}

.win-button-container > button.team-a-win-toggle {
    background-color: var(--green);
}

.win-button-container > button.team-b-win-toggle {
    background-color: var(--red);
}

.win-button-container > button:nth-child(1) {
    border-radius: 5px 0 0 5px;
}

.win-button-container > button:nth-child(2) {
    border-radius: 0;
}

.win-button-container > button:nth-child(3) {
    border-radius: 0 5px 5px 0;
}

.color-swap-toggle-container {
    margin-bottom: 5px;
}
