.score-space {
    align-items: center;
}

.score-space .layout.vertical button {
    width: 35px;
    font-size: 1.3em;
    padding: 5px 3px 3px;
}

.score-space input {
    height: 55px;
    font-size: 3em;
    text-align: center;
    margin: 0 5px;
}

.color-display {
    width: auto;
    height: 18px;
    margin: 2px;
    border-radius: 2px;
}

.color-toggle-display {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid white;
}

.color-toggle-display.a {
    background-color: #E60572;
}

.color-toggle-display.b {
    background-color: #1BBF0F;
}

.color-toggle:first-child {
    margin-left: 2px;
}

.color-toggle:last-child {
    margin-right: 2px;
}

.color-toggle {
    margin: 5px 3px 2px 3px;
    background-color: #2F3A4F;
    border-radius: 2px;
    padding: 4px;
    font-size: 14px;
    transition-duration: 100ms;
}

.color-toggle[data-disabled],
.color-toggle[data-disabled]:hover,
.color-toggle[data-disabled]:active {
    background-color: #181e29;
    pointer-events: none;
    color: #a9aaa9;
}

.color-toggle[data-disabled] > .color-toggle-display {
    filter: contrast(0.25);
}

.color-toggle:hover {
    background-color: #3C4B66;
}

.color-toggle:active {
    background-color: #334057;
}

.color-toggle > * {
    margin: 2px;
    pointer-events: none;
}
