.score-space {
    align-items: center;
}

.score-space .layout.vertical button {
    width: 35px;
}

.score-space input {
    height: 55px;
    font-size: 3em;
    text-align: center;
    margin: 0 5px;
    width: 57px;
}

.select-container {
    margin: 0 2.5px;
}

.color-display {
    width: auto;
    height: 18px;
    margin: 2px;
    border-radius: 2px;
}
