body {
    font-family: 'Roboto', 'Noto', sans-serif;
}

:root {
    --blue: #3f51b5;
    --red: #c9513e;
    --green: #5ba664;
    --yellow: #fdd835;
}

/* Layout classes */

.layout {
    display: flex;
}

.layout.horizontal {
    flex-direction: row;
}

.layout.vertical {
    flex-direction: column;
}

/* "Space" class for creating sections of elements + related styles */

.space {
    background-color: #262f40;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
}

.show-hide-space {
    display: flex;
    justify-content: center;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    display: block;
}

/* Buttons */

button {
    background-color: var(--blue);
    margin: 5px 2px 2px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    padding: 9px 9px;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
    transition-duration: 100ms;
    font-family: 'Roboto', sans-serif;
}

button.blue {
    background-color: var(--blue);
}

button.red {
    background-color: var(--red);
}

button.green {
    background-color: var(--green);
}

button:hover {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
}

button[disabled],
button[disabled]:hover {
    color: #a9aaa9 !important;
    background-color: #181e29 !important;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2) !important;
}

button.max-width {
    box-sizing: border-box;
    /* an ugly hack: 100% - button margin
	prevents button from getting too wide */
    width: calc(100% - 4px);
}

/* Text input & select */

select,
input[type='text'],
input[type='number'],
input[type='color'] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #737373;
    width: 100%;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

select {
    margin-bottom: 5px;
    outline: 0;
    padding: 4px 20px 4px 2px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-size: 16px 12px;
    background-repeat: no-repeat;
    background-position: right 3px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type='text'],
input[type='number'],
input[type='color'] {
    display: block;
    box-sizing: border-box;
    margin-top: 3px;
}

input[type='color'] {
    border-bottom: unset;
    background-color: #2f3a4f;
    margin: 5px 2px;
    padding: 5px;
    height: 32px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-label,
label {
    color: #737373;
    font-size: 0.75em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    margin-top: 4px;
}

label.white-label {
    color: white;
}

label.big-label {
    font-size: 1em;
    margin-top: 0;
}

option,
optgroup {
    color: black;
}

option[disabled] {
    color: darkgray;
    font-style: italic;
}

/* Misc. */

.max-width > * {
    flex-grow: 1;
}
