body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue: #3f51b5;
    --red: #c9513e;
    --green: #5ba664;
    --yellow: #fdd835;
}

/* Layout classes */

.layout {
    display: flex;
}

.layout.horizontal {
    flex-direction: row;
}

.layout.vertical {
    flex-direction: column;
}

/* "Space" class for creating sections of elements + related styles */

.space {
    background-color: #262f40;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
}

.show-hide-space {
    display: flex;
    justify-content: center;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    display: block;
}

/* Buttons */

button {
    background-color: var(--blue);
    margin: 2px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    padding: 9px 9px;
    box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.2);
    transition-duration: 100ms;
}

button.blue {
    background-color: var(--blue);
}

button.red {
    background-color: var(--red);
}

button.green {
    background-color: var(--green);
}

button:hover {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
}

button[disabled],
button[disabled]:hover {
    color: #a9aaa9 !important;
    background-color: #181e29 !important;
    box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.2) !important;
}

button.max-width {
    box-sizing: border-box;
    /* an ugly hack: 100% - button margin
	prevents button from getting too wide */
    width: calc(100% - 4px);
}

/* Text input & select */

select {
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px;
    border: 0px;
    border-bottom: 1px solid #737373;
    outline: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding: 4px;
    font-family: 'Roboto', 'Noto', sans-serif;
}

input[type='text'],
input[type='number'],
input[type='color'] {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #737373;
    color: white;
    font-size: 1em;
    font-family: 'Roboto';
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 3px;
}

input[type='color'] {
	border-bottom: unset;
	background-color: #2F3A4F;
	margin: 5px 2px;
	padding: 5px;
	height: 32px;
}

.input-label {
    color: #737373;
    font-size: 0.75em;
    margin-top: 5px;
    font-family: 'Roboto', 'Noto', sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

option, optgroup {
    color: black;
}

option[disabled] {
	color: darkgray;
	font-style: italic;
}

/* Misc. */

.max-width > * {
    flex-grow: 1;
}
