.leftBar {
    background-color: #387AFF;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.leftBarPercent {
    padding-left: 10px;
    text-align: left;
}

.rightBar {
    background-color: #F5009B;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
    text-align: right;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.rightBarPercent {
    padding-right: 10px;
    text-align: right;
}


.score-bar {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: solid #a9aaa9;
}