.score-bar-left {
    background-color: #387AFF;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

.left-bar-percent {
    padding-left: 10px;
    text-align: left;
}

.score-bar-right {
    background-color: #F5009B;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
    text-align: right;
}

.right-bar-percent {
    padding-right: 10px;
    text-align: right;
}

.score-bar {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: solid #a9aaa9;
    overflow: hidden;
    margin: 5px 0;
}
