.separator {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.separator span {
    background: #262f40;
    padding: 0 10px;
}

.control-space {
    display: flex;
    justify-content: center;
}

.round-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
