$green: #00A651;
$green-hover: #009549;
$green-active: #008541;
$red: #e74e36;
$blue: #6155BD;
$blue-hover: #574caa;
$blue-active: #4e4497;
$yellow: #ffc700;
$yellow-hover: #e5b300;
$yellow-active: #cc9f00;

$error-color: #e74e36;
$error-background-color: rgba(231, 78, 54, 0.1);

$warning-color: #FDD835;
$warning-background-color: rgba(253, 216, 53, 0.1);

$info-color: #3E62F0;
$info-background-color: rgba(62, 98, 240, 0.1);

$input-color: #737373;
$input-color-active: white;

$text-color: white;
$text-color-disabled: #A9AAA9;

$background-primary: #262F40;

$background-secondary: #2F3A4F;
$background-secondary-hover: #3C4B66;
$background-secondary-active: #334057;

$background-tertiary: #181e29;
$background-tertiary-active: #212938;
