@import './layout.scss';
@import './colors.scss';

body {
    margin: 8px;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    display: block;
}
